* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}

.main {
  background-color: #0f0d0d;
}
.page1 {
  min-height: 100vh;
  width: 100vw;
}

#nav {
  height: 50px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#nav img {
  height: 25px;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

#nav #circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}

#nav h4 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
#nav h4:nth-child(1) {
  border-bottom: 2px solid #fff;
}

.page1 h1 {
  font-size: 7vw;
  font-weight: 300;
  margin-top: 12vw;
  margin-left: 6vw;
}

.page1 h2 {
  font-size: 7vw;
  font-weight: 300;
  margin-left: 25vw;
}

.page1 video {
  width: 60%;
  margin-top: 10vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.cursor {
  height: 17px;
  width: 17px;
  background-color: #edbfff;
  border: 2px solid #111;
  border-radius: 50%;
  position: relative;
  mix-blend-mode: difference;
  transition: all linear 0.2s;
  text-transform: capitalize;
}

/* .page1 img:hover.cursor {
  width: 25px;
  height: 25px;
} */

#nav-part2 h4:hover {
  /* cursor: pointer; */
  color: #edbfff;
  border-bottom: 1px solid #edbfff;
  transition: all ease-in 0.2s;
}
